.footer {
  height: 100px; 
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abcd6f;
}

.footer-copy {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer-logo {
  height: 90%;
  width: auto;
  max-height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 12px;
}