.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background-color: #1e293b;
    width: 100%;
    margin-top: auto;
}

.footer-copy {
    margin: 0;
    font-size: 0.85rem;
    color: #94a3b8;
}